<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button color="danger">
                <ion-thumbnail>
                    <ion-img [src]="'/assets/img/logo.png'"></ion-img>
                </ion-thumbnail>
            </ion-button>
        </ion-buttons>
        <ion-title>
            NOTICIAS TOP
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <app-noticias [noticias]="noticias"></app-noticias>


    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>